@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-releway: 'Raleway', sans-serif;
    --font-openSans: 'Open Sans', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 70px;
    background-color: var(--color-white);
    box-shadow: 0 3px 6px #00000029;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo {
    font-family: var(--font-releway);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.header-menu {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: var(--font-openSans);
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--color-grey);
}

.header-menu ul {
    display: flex;
    gap: 50px;
    height: 100%;
    align-items: center;
}

.menu-item {
    list-style: none;
    height: 100%;
    line-height: 70px;
    padding: 0 20px;
}

.menu-item:hover {
    border-bottom: var(--color-primary) 4px solid;
    color: var(--color-black);
    cursor: pointer;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.opening-header {
    font-family: var(--font-releway);
    font-size: 49px;
    margin-top: 130px;
}

.opening-p {
    font-family: var(--font-openSans);
    font-size: 16px;
    margin: 20px 0;
}

.opening-btn button {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    font-family: var(--font-openSans);
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    padding: 20px 157px;
    border: none;
    margin-top: 20px;
}

.opening-bg {
    width: 100%;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.statistic-slogan {
    font-family: var(--font-releway);
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.statistics-infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 120px;
}

.statistic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
}

.statistic-icon {
    height: 52px;
    width: 52px;
    margin: 0 35px;
    align-self: flex-end;
}

.statistic-info::before {
    content: "";
    width: 63px;
    height: 63px;
    border-radius: 50%;
    z-index: -1;
    position: relative;
    top: 60px
}

.statistic-info:first-child::before {
    background-color: var(--color-redish);
}

.statistic-info:nth-child(2)::before {
    background-color: var(--color-primary);
}

.statistic-info:last-child::before {
    background-color: var(--color-green);
}

.statistic-num {
    font-family: var(--font-releway);
    font-size: 20px;
    font-weight: bolder;
    margin-top: 22px;
    letter-spacing: 6px;
}

.statistic-p {
    font-family: var(--font-releway);
    color: var(--color-grey);
    font-size: 17px;
    padding: 20px;
    text-align: center;
}

.benefits {
    width: 100%;
    background-color: var(--color-light-grey);
}

.benefits-container {
    width: 1124px;
    margin: 0 auto;
    padding: 107px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    width: 100%;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit:first-child {
    flex-direction: row-reverse;
}

.benefit-img-container {
    display: flex;
    position: relative;
}

.benefit:first-child .benefit-img-container::after {
    content: '';
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    position: absolute;
    top: 0;
    right: 100px;
    transform: rotate(45deg);
}

.benefit:nth-child(2) .benefit-img-container::after {
    content: '';
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    right: 160px;
}

.benefit:first-child .benefit-img {
    width: 386px;
    height: 219px;
    z-index: 2;
    margin: 30px 120px;
}

.benefit:nth-child(2) .benefit-img {
    width: 426px;
    height: 321px;
    z-index: 2;
    margin: 15px 70px;
}

.benefit:last-child .benefit-img {
    width: 296px;
    height: 208px;
    z-index: 2;
}

.benefit-description {
    display: flex;
    flex-direction: column;
    width: 416px;
    margin: 0 36px;
}

.benefit-text {
    width: 70%;
    font-family: var(--font-releway);
    font-size: 36px;
}

.benefit-p {
    font-family: var(--font-openSans);
    font-size: 16px;
    line-height: 22px;
    padding: 30px 0;
}

.benefit-description::after {
    content: "";
    width: 327px;
    height: 4px;
    margin: 20px 0;
}

.benefit:first-child .benefit-description::after {
    background-color: var(--color-redish);
}

.benefit:nth-child(2) .benefit-description::after {
    background-color: var(--color-primary);
}

.benefit:last-child .benefit-description::after {
    background-color: var(--color-green);
}

.benefit:last-child {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--color-light-grey);
    border: none;
}

.benefit:last-child .benefit-img-container {
    flex: 4;
    height: 370px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit:last-child .benefit-description {
    height: 370px;
    flex: 5;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-white);
    padding: 0 36px;
    margin: 0;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.pricing {
    width: 1266px;
    margin: 0 auto;
}

.pricing-main-title {
    font-family: var(--font-releway);
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.pricing-boxes-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.pricing-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 18px;
}

.pricing-title {
    font-family: var(--font-releway);
    font-weight: bold;
    font-size: 20px;
    margin-top: 34px;
}

.pricing-price {
    font-family: var(--font-openSans);
    font-size: 46px;
    font-weight: lighter;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
    position: relative;
}

.pricing-professional .pricing-price::after,
.pricing-premium .pricing-price::after {
    content: "Limited offer";
    font-family: var(--font-releway);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: -25px;
    color: var(--color-black);
}

.pricing-p {
    font-family: var(--font-openSans);
    size: 14px;
    line-height: 41px;
}

.pricing-p::before {
    content: url("../assets/Ckechmark-1.svg");
    width: 11px;
    height: 11px;
    margin: 10px;
}

.logo-close::before {
    content: url("../assets/Close.svg");
    width: 11px;
    height: 11px;
    margin: 10px;
}

.pricing-btn button {
    font-family: var(--font-openSans);
    font-size: 13px;
    font-weight: bold;
    line-height: 41px;
    color: var(--color-white);
    position: relative;
    padding: 0 64px;
    margin-top: 40px;
    border: none;
    border-radius: 23px;
    transform: translateY(50%);
}

.pricing-basic {
    border-color: var(--color-redish);
}

.pricing-basic .pricing-price {
    color: var(--color-redish);
}

.pricing-basic button {
    background-color: var(--color-redish);
}

.pricing-professional {
    border-color: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.pricing-professional .pricing-price {
    color: var(--color-primary);
}

.pricing-professional .pricing-p {
    padding: 5px;
}

.pricing-professional button {
    background-color: var(--color-primary);
}

.pricing-premium {
    border-color: var(--color-green);
}

.pricing-premium .pricing-price {
    color: var(--color-green);
}

.pricing-premium button {
    background-color: var(--color-green);
}

.contact {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 896px;
    margin: 170px auto 60px auto;
}

.contact-info {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.contact-info h2 {
    font-family: var(--font-releway);
    font-size: 49px;
}

.contact-info p {
    font-family: var(--font-openSans);
    font-size: 16px;
    line-height: 22px;
    padding: 22px 20px 22px 0;
    display: flex;
    align-items: center;
}

.contact-details {
    display: flex;
    font-family: var(--font-openSans);
    font-size: 16px;
    color: var(--color-grey);
}

.contact-email::before {
    content: url("../assets/Mail Icon.svg");
    width: 27px;
    height: 27px;
    margin-right: 5px;
}

.contact-phone::before {
    content: url("../assets/Phone Icon.svg");
    width: 27px;
    height: 27px;
    margin-right: 5px;
}

.contact-form {
    display: flex;
    flex: 4;
    flex-direction: column;
}

.contact-form-label {
    display: flex;
    flex-direction: column;
    font-family: var(--font-openSans);
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--color-primary);
    line-height: 15px;
}

.contact-form-label input {
    border: none;
    border-bottom: 2px solid var(--color-grey);
    margin: 10px 0 30px 0;
    font-size: 16px;
    padding: 5px;
}

.contact-form-checkbox {
    display: flex;
    gap: 10px;
    font-family: var(--font-openSans);
    font-size: 12px;
    line-height: 17px;
    color: var(--color-grey);
}

.checkbox {
    margin: 5px;
    opacity: 0;
}

.custom-checkbox {
    position: absolute;
    height: 24px;
    width: 24px;
    border: 2px solid var(--color-grey);
    border-radius: 4px;
    cursor: pointer;
}

.checkbox:checked + .custom-checkbox {
    background-image: url("../assets/Checkmark.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-form-btn {
    font-family: var(--font-openSans);
    font-weight: bold;
    color: var(--color-white);
    padding: 20px 97px;
    border: none;
    border-radius: 35px;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    align-self: flex-end;
    margin: 20px 0;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    box-shadow: 0 -5px 40px var(--color-grey);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    text-decoration: none;
}

.footer-logo-text {
    font-family: var(--font-releway);
    color: var(--color-primary);
    font-size: 26px;
    font-weight: lighter;
    line-height: 30px;
    padding: 4px 0;
}

.footer-p {
    font-family: var(--font-openSans);
    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
}

.fb, .twitter {
    padding: 5px;
}


